* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

 .selected{
      background: #d5ba60;

 }

 .selected::before{
      content: "(selected) ";

 }

 option{
      padding-left: 20px;
 }

.inp-btn{
     display: flex;
     justify-content: space-between;
}


button{
     width: 90px;
}
input
{
     width: 700px;
}
body{
     background: lightblue;
}

.page-wrapper{
     height: 100vh;
     display: flex;
     align-items: center;
}
.p-sel{
     display: block;
     opacity: 70%;
}
select{
     list-style: none;
     margin: 0;
     padding: 0;
     background: #f8f8f3;
     border: 1px solid rgba(128, 128, 128, 0.7);
     width: 700px;
     height: 300px;
     overflow-y: scroll;
}

.wrapper{
     background: #f8f8f3;
     width: 930px;
     border-radius: 10px;
     margin: 0 auto;
     min-height: 500px;
     /*margin-top: 50px;*/
     display: flex;
     /*justify-content: center;*/
     justify-content: flex-start;
     flex-direction: column;
     padding: 20px 50px;
     gap: 20px;
}
#buttonsDiv{
     display: flex;
     flex-direction: column;
     gap: 20px;
}

#values{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     /*width: 70%;*/
}

#values{
     display: flex;
     gap:30px;
}
